<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='addUser.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <title>Register RFID Card</title>
</head>
<body>
    <div class="menu">
        <ul>
            <li class="profile">
            <div class="img-box">
                <img id="profilePic" src="" alt="profile">
            </div>
            <h2 id="adminName"></h2>
            </li>

            <li><a href="/admin"><i class="fas fa-home"></i><p>Dashboard</p></a></li>
            <li><a href="/users"><i class="fas fa-user-group"></i><p>Users</p></a></li>
            <li>
                <a href="/student_requests">
                <i class="fas fa-user-check"></i>
                <p>Student Requests</p>
                </a>
            </li>
            <li><a href="/courses"><i class="fa fa-list-alt"></i><p>Courses</p></a></li>
            <li><a href="/admin_schedule"><i class="fas fa-table"></i><p>Tables</p></a></li>

            <li>
            <a href="/admin_gate">
                <i class="fas fa-torii-gate"></i>
                <p>Gate</p>
            </a>
            </li>
            <li>
                <a href="/gate_logs">
                    <i class="fas fa-dungeon"></i>
                    <p>gate_logs</p>
                </a>
            </li>
            <li>
                <a class="active" href="/register_card">
                    <i class="fas fa-id-card"></i>
                    <p>Cards</p>
                </a>
            </li>

            <li>
                <a href="/robot">
                  🤖 <p>CampusBot</p>
                    
                </a>
            </li>

            <li>
                <a href="/track">
                    📦 <p>Track Order</p>
                </a>
            </li>

            <li class="log-out">
            <a href="/"><i class="fas fa-sign-out"></i><p>Log Out</p></a>
            </li>
        </ul>
    </div>

    <div class="users">
        <div class="title">
            <i class="fas fa-users"></i>
            <h1 class="user">RFID Card</h1>
        </div>
         
        <input
           type="number"id="userId"placeholder="User ID">
        <button onclick="registerCard()">Wait for the card</button>
    </div>

  <table>
<tbody id="cardsTable">
</tbody>
</table>


    <script>

        const api = "";

        document.addEventListener("DOMContentLoaded", () => {
            const name = localStorage.getItem("user_name");
            const role = localStorage.getItem("user_role");
            const image = localStorage.getItem("user_image");


            if (!name || role !== "Admin") {
                window.location.href = "login.html";
                return;
            }
               
            document.getElementById("adminName").textContent = name;
                
            const profilePic = document.getElementById("profilePic");
            
             if (image && image !== "null" && image !== ""){
                    document.getElementById("profilePic").src = `/${image}`;
                } else {
                    document.getElementById("profilePic").src = `/uploads/admin.png`;
                }

            
        });

const API_BASE = "";

function registerCard() {

    let userId =
    document.getElementById("userId").value;
fetch(`/start_registration`, {
    method: "POST",
    headers: {
        "Content-Type": "application/json"
    },
    body: JSON.stringify({
        user_id: userId
    })
})

.then(res => res.json())

.then(data => {

    if(data.status === "error"){

        alert(data.message);

        return;
    }

    alert(
        "Waiting for RFID card...\nUser: "
        + data.name
    );

});

}

function loadCards(){

    fetch(`/get_cards`)
    .then(r => r.json())
    .then(data => {

        const table =
        document.getElementById("cardsTable");

        table.innerHTML = "";

        data.forEach(card => {

            table.innerHTML += `
            <tr>
                <td>${card.id}</td>
                <td>${card.name}</td>
                <td>${card.uid}</td>
                <td>${card.access}</td>
            </tr>
            `;
        });

    });
}

loadCards();

setInterval(loadCards, 3000);
</script>



</body>
</html>