<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
        <div class="container">
        <h1>Student Registration</h1>
        <br>

       
        <!-- </div> -->

        <form id="signupForm">
            <label for="name">Full Name</label>
            <input type="text" placeholder="Full Name" name="name" required>
            <br>

            <label for="email">Email</label>
            <input type="email" placeholder="Email" name="email" required>
            <br>

            <label for="password">password</label>
            <input type="password" name="password" placeholder="Password" required>
            <br>

            <label for="phone">Phone</label>
            <input type="text" placeholder="Phone" name="phone" required>
            <br>
             
            <label for="department">Department</label>
            <input type="text" placeholder="Department" name="department" required>
            <br>

            <label for="level">Level</label>
            <input type="number" placeholder="Level" name="level" required>
            <br>

            <label>Profile Image</label>
            <input type="file" name="image" accept="image/*">
            <br>

            <button type="submit">Send Request</button>

            <a href="/">Login</a>
        </form>

        <p id="msg"></p>

        
    </div>

    <script>
        // document.getElementById("signupForm").addEventListener("submit", async function (e) {
        //     e.preventDefault();

        //     const formData = new FormData(this);

        //     const data = {
        //         name: formData.get("name"),
        //         email: formData.get("email"),
        //         phone: formData.get("phone"),
        //         department: formData.get("department"),
        //         level: formData.get("level")
        //     };

        //     try {
        //         const res = await fetch("http://127.0.0.1:5000/student_signup", {
        //             method: "POST",
        //             headers: {
        //                 "Content-Type": "application/json"
        //             },
        //             body: JSON.stringify(data)
        //         });

        //         const result = await res.json();
        //         document.getElementById("msg").innerText = result.message;

        //         if (res.ok) {
        //             document.getElementById("signupForm").reset();
        //         }

        //     } catch (error) {
        //         document.getElementById("msg").innerText = "❌ Server error";
        //         console.error(error);
        //     }
        // });


        const api = "";

        document.getElementById("signupForm").addEventListener("submit", async function (e) {
            e.preventDefault();

            const formData = new FormData(this);

            try {
                const res = await fetch(`${api}/student_signup`, {
                    method: "POST",
                    body: formData
                });

                const result = await res.json();
                document.getElementById("msg").innerText = result.message;

                if (res.ok) {
                    this.reset();
                }

            } catch (error) {
                console.error(error);
                document.getElementById("msg").innerText = "❌ Server error";
            }
        });
    </script>

</body>
</html>