<!DOCTYPE html>
<html>
<head> <link rel="stylesheet"
href="https://unpkg.com/leaflet/dist/leaflet.css"/> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer">
<link rel="stylesheet" href="{{ url_for('static', filename='robot.css') }}">
  <title>Track Order</title>

  <style>
    body {
      font-family: Arial;
      text-align: center;
      padding: 30px;
      background: #f4f7fb;
    }

    .box {
      background: white;
      padding: 20px;
      border-radius: 15px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    }

    button {
      padding: 15px;
      border: none;
      border-radius: 10px;
      margin-top: 20px;
      width: 100%;
      background: #10B981;
      color: white;
      font-size: 16px;
      font-weight: bold;
    }
  </style>
</head>
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

 
<body>
<h1>📦 Track Your Order</h1>

<div class="box">

    <input
    type="number"
    id="orderId"
    placeholder="Enter Order ID">

    <button onclick="loadStatus()">
        Track Order
    </button>

</div>

<br>

<div class="box" id="statusBox">
    Loading...
</div>
<div id="map"
style="
height:400px;
margin-top:20px;
border-radius:15px;
overflow:hidden;
">
</div>
 
<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>

const BASE = "";

let map;
let studentMarker;
let robotMarker;
let routeLine;

function initMap()
{
    const mapDiv =
        document.getElementById("map");

    if(!mapDiv)
    {
        console.log("Map div not found");
        return;
    }

    map = L.map("map").setView(
        [29.932962,30.920956],
        18
    );

    L.tileLayer(
        "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
        {
            attribution: "OpenStreetMap"
        }
    ).addTo(map);
}

function loadStatus()
{
    const id =
        document.getElementById("orderId").value;

    if(!id)
    {
        alert("Enter Order ID");
        return;
    }

    fetch(BASE + "/api/robot/track/" + id)
    .then(res => res.json())
    .then(order =>
    {
        document.getElementById("statusBox").innerHTML = `
            <h3>Order #${order.id}</h3>
            <p>Item: ${order.item}</p>
            <p>Status: ${order.status}</p>
        `;
    });
}

function updateRobotLocation()
{
    const orderId =
        document.getElementById("orderId").value;

    if(!orderId)
        return;

    fetch(BASE + "/api/robot/track/" + orderId)
    .then(res => res.json())
    .then(data =>
    {
        if(!data || !data.robot_lat)
            return;

        const studentLat = parseFloat(data.lat);
        const studentLon = parseFloat(data.lon);

        const robotLat = parseFloat(data.robot_lat);
        const robotLon = parseFloat(data.robot_lon);

        if(!studentMarker)
        {
            studentMarker =
            L.marker([studentLat,studentLon])
            .addTo(map)
            .bindPopup("Student");
        }

        if(!robotMarker)
        {
            robotMarker =
            L.marker([robotLat,robotLon])
            .addTo(map)
            .bindPopup("CampusBot");
        }

        studentMarker.setLatLng([studentLat,studentLon]);
        robotMarker.setLatLng([robotLat,robotLon]);

        if(routeLine)
            map.removeLayer(routeLine);

        routeLine =
        L.polyline([
            [studentLat,studentLon],
            [robotLat,robotLon]
        ]).addTo(map);

        map.fitBounds(routeLine.getBounds());
    });
}

initMap();

const lastOrder =
    localStorage.getItem("last_order_id");

if(lastOrder)
{
    document.getElementById("orderId").value =
        lastOrder;

    loadStatus();
}

setInterval(updateRobotLocation,3000);

</script>
  
</body>
</html>